# folder
node_modules/
inc/
backup-php/
layouts/
sass/
exclude/
css/images/backup

# files
backup.txt
gulpfile.js
LICENSE
package-lock.json
package.json
phpcs.xml.dist
readme.txt
rtl.css
sjsmwebsite accounts.docx